.percent {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 60px;
  transform: translate(-50%, -50%);
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-play {
  margin: 50px;
}

.result-message {
  margin-top: 50px;
}

.form-header {
  margin-bottom: 50px;
}

.question-group {
  display: flex;
  flex-direction: column;
}

.mid-question {
  margin-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
}

#sendButtonDiv{
  display: flex;
  align-items: center;
  justify-content: center;
}