*{
  text-align: left;
}

p{
  font-size: max(1.2vw,14px);
}

.category{
  padding:2% 5%;
}

.categoryContent{
  padding:1% 5%;
}

h1{
  font-weight: bold;
  font-size: max(2.5vw,20px);
}

h2{
  font-weight: bold;
  font-size: max(1.5vw,18px);
}
