*{
  text-align: left;
}

p{
  font-size: max(1.2vw,14px);
}

.category{
  padding:2% 5%;
}

.categoryContent{
  padding:1% 5%;
}

.categorySubContent{
  padding: 10px 2.5%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1{
  font-weight: bold;
  font-size: max(2.5vw,20px);
}

h2{
  font-weight: bold;
  font-size: max(1.5vw,18px);
}

.imgProjets{
  width: 33%;
}

#contactContentDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#contactContentDiv>*{
  width: 50%;
}

#contactImg{
  width:75%;
}

#contactImgDiv{
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactLinksImg{
  width: 26px;
}

.contactLinks{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 10px;
  color: black;
  text-decoration: none; /* no underline */
}

.contactLinks:hover{
  text-decoration: underline;
}

.contactLinks > p{
  font-size: max(1.2vw,12px);
}

.cvImg{
  width: 100%;
  cursor: zoom-in;
}

.cvImgContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

#cvContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#work > div > img{
  cursor: pointer;
}

#aLinkToGit{
  font-size: max(1.75vw,18px);
  color: blue;
}

#aLinkToGit:hover{
  text-decoration: underline;
}

#gitAd{
  display: flex;
  align-items: center;
  gap: 5px;
}

/*@media screen and (max-width: 576px) {

}

@media screen and (max-width: 780px) and (min-width: 576px) {

}

@media screen and (max-width: 992px) and (min-width: 780px) {

}

@media screen and (min-width: 992px) and (min-width: 1200px){
}

@media screen and (min-width: 1200px) {
}*/

/*576px for portrait phones.
768px for tablets.
992px for laptops.
1200px for large devices.*/



.card{
  width: 280px;
  height: 360px;
  border-radius: 15px;
  padding: 1.5rem;
  background: white;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(black, 0.5);

  &:hover {
    &:before {
      opacity: 1;

      .info {
        opacity: 1;
        transform: translateY(0px);
      }
    }
  }



  &:before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      background: rgba(black, 0.6);
      z-index: 2;
      transition: 0.5s;
      opacity: 0;
  }





  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
  }


  .info{
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
    h1{
      margin: 0px;
    }
    p{
      letter-spacing: 1px;
      font-size: 15px;
      margin-top: 8px;
    }

  }

}